@import 'main';
.t-login-bankia {
	display: grid;
	padding: 3rem 1rem 1rem 1rem;
	justify-content: center;
	gap: 3rem;
	font-family: 'Poppins', sans-serif;

	&__greeting {
		font-weight: 700;
		font-size: 24px;
		line-height: 36px;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}

	&__form {
		display: grid;
		gap: 3rem;
	}

	&__button {
		min-height: 150px;
		align-content: end;
	}
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 400;
	font-size: 14px;
	color: $text-dark;

	@include from($laptop) {
		font-size: 16px;
	}
}

input {
	width: 100%;
	padding: 0.75rem;
	border: 1px solid #e8e8ed;
	background: $text-white;
	border-radius: 8px;
	font-size: 1rem;
}

input::placeholder {
	color: #aaa;
}

.password-wrapper {
	position: relative;
}

.toggle-password {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.eye-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url('/images/eye-icon.svg');
	background-size: contain;
}

button {
	transition: background 0.3s;
	@include from($laptop) {
		font-size: 18px;
	}
}

button:disabled {
	background: #ccc;
	cursor: not-allowed;
}

button:hover:not(:disabled) {
	background: linear-gradient(
		110.68deg,
		#5452f7 1.52%,
		#6429cd 26.95%,
		#b100a3 138.13%
	);
}
