<div class="confirmation-page">
  <div class="confirmation-container">
    <h1 class="confirmation-title">¡Compra exitosa!</h1>
    
    <div class="order-summary">
      <div class="order-details">
        <div class="title-row">
          <p class="first-detail">Producto</p>
          <p class="second-detail">Cantidad</p>
          <p class="third-detail">Valor</p>
        </div>
        <div class="product-row" *ngFor="let product of orderDetails.products">
          <p class="first-detail">{{ product.name }}</p>
          <p class="second-detail">{{ product.quantity }}</p>
          <p class="third-detail">${{ product.price.toFixed(2) }}</p>
        </div>
        <div class="total-row">
          <p></p>
          <p class="second-detail">Total</p>
          <p class="third-detail">${{ orderDetails.total.toFixed(2) }}</p>
        </div>
      </div>
      
      <div class="delivery-payment-info">
        <div class="info-item">
          <div class="info-title">
            <a-logo class="download-icon" [src]="'icons/check-circle.svg'"></a-logo>
            Pago
          </div>
          <p>Realizado desde cuenta digital Super Retail</p>
        </div>
        
        <div class="info-item">
          <div class="info-title delivery">
            <a-logo class="download-icon" [src]="'icons/location-point.svg'"></a-logo>
            Entrega
          </div>
          <div class="info-content">
            <p class="title">Compra lista para recoger en:</p>
              <div class="detail-row city">
                <span class="label">Ciudad</span>
                <span class="value">{{ orderDetails.delivery.city }}</span>
              </div>
              <div class="detail-row delegation">
                <span class="label">Delegación</span>
                <span class="value">{{ orderDetails.delivery.delegation }}</span>
              </div>
              <div class="detail-row store">
                <span class="label">Tienda</span>
                <span class="value">{{ orderDetails.delivery.store }}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="download-invoice">
      <a href="#" class="invoice-link">
        Descargar factura
        <a-logo class="download-icon" [src]="'icons/download.svg'"></a-logo>
      </a>
    </div>
    
    <div class="back-to-shop">
      <a routerLink="/super-retail" class="shop-link">Ir al home</a>
    </div>
  </div>
</div>
