@import 'main';

.t-onboarding {
	display: grid;
	height: 90vh;
	gap: 1rem;

	&__close {
		cursor: pointer;
	}

	&__image {
		margin: auto;
	}

	&__header {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		align-items: center;

		&-next {
			justify-self: end;
			cursor: pointer;
		}
	}
}
