@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	/* Tamaño base */
	line-height: 1.5;
	/* Altura de línea */
	color: #333;
	/* Color del texto */
}
