<div class="t-home-bankia">
	@if (showModal) {
		<t-modal (onclose)="closeModal()"></t-modal>
	}
	<div class="t-home-bankia__container">
		<div class="t-home-bankia__credit-card">
			<a-logo [src]="'images/credit-card.svg'"></a-logo>
		</div>
		<div class="t-home-bankia__operations">
			<m-card-shortcut
				[options]="transactions"
				[subTitle]="'Realiza transacciones'"
			></m-card-shortcut>
			<m-card-shortcut [options]="formalities" [subTitle]="'Realiza trámites'"></m-card-shortcut>
		</div>

		<div
			class="t-home-bankia__container-image"
			(click)="goOnboarding()"
			(keyup)="goOnboarding()"
			tabindex="0"
		>
			<div class="t-home-bankia__circle t-home-bankia__circle--purple"></div>
			<img class="t-home-bankia__image" src="images/lia.svg" alt="" loading="lazy" />
		</div>
	</div>
</div>
