@import "../../../../../assets/scss/utils/variables";
@import "../checkout.component.scss";

.checkout-step {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  
  .checkout-content {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 15px;
    position: relative;
    
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .cart-summary {
      padding-bottom: 0;
    
      @media (max-width: 768px) {
        position: absolute;
        bottom: 0;
      }
    }

    .cart-actions {
      position: absolute;
      bottom: -40px;
      right: auto;
      width: 80px;
      margin-left: 134px;

      @media (max-width: 768px) {
        bottom: -90px;
      }
    }
    
    .checkout-section {
      background-color: white;
      border-radius: 16px;
      padding: 20px;
      border: 1px solid $cart-border;
      margin-bottom: 0;
      height: 320px;
      
      .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        
        .form-group {
          
          label {
            display: block;
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 5px;
            color: $text-dark-full;
          }
          
          .form-control {
            max-width: 292px;
            padding: 0 10px;
            height: 32px;
            border: 1px solid $border-gray;
            border-radius: 4px;
            font-size: 14px;
            
            &:focus {
              outline: none;
              border-color: $separator;
            }
          }
          
          /* Estilos para el select con flecha dorada */
          select.form-control {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="8" viewBox="0 0 14 8" fill="none"><path d="M1 1L7 7L13 1" stroke="%23BC8B2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-repeat: no-repeat;
            background-position: calc(100% - 10px) center;
            padding-right: 30px;
            background-color: white;
          }
        }
      }
    }

    .delivery-section {
      height: 240px;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        margin-bottom: 400px;
      }
    }
  }
}
