@import "../../../../../assets/scss/utils/variables";
@import "../checkout.component.scss";

.checkout-step {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;

  @media (max-width: 780px) {
    max-width: 100%;
    padding: 10px;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  .checkout-content {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 30px;
    position: relative;
    margin-bottom: 40px;
    max-width: 100%;
    
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .product-quantity {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .quantity-btn {
      background: none;
      border: 1px solid #DBDBDB;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: #F6F7FC;
      color: #B6B6BA;
    
      &:hover {
        background-color: #FB1909;
        color: white;
        border-color: #FB1909;
      }

      @media (max-width: 780px) {
        height: 18px;
        font-size: 10px;
      }
    }
    
    .quantity-input {
      width: 75px;
        height: 28px;
        border: 2px solid #E8E8ED;
        text-align: center;
        margin: 0 5px;
        border-radius: 5px;

        @media (max-width: 780px) {
          width: 30px;
          height: 21px;
          font-size: 11px;
        }
    }
    
    .checkout-section {
      background-color: white;
      border-radius: 8px;
      padding: 0 20px 20px 0;
      box-sizing: border-box;
      width: 100%;
      overflow-x: hidden;
      
      @media (max-width: 780px) {
        padding: 0 10px 10px 0;
      }
      
      .product-list {
        .product-count {
          font-size: 14px;
          font-weight: 700;
          color: $text-dark-light;
          margin-bottom: 15px;
          text-align: end;
        }
        
        .product-item {
          display: grid;
          grid-template-columns: 120px 1fr 1fr 1fr 20px;
          gap: 10px;
          padding: 15px 0;
          border-bottom: 1px solid $quantity-bottom;
          
          &:last-child {
            border-bottom: none;
          }
          
          .product-image {
            img {
              width: 117px;
              max-width: 117px;
              height: auto;
            }
          }
          
          @media (max-width: 780px) {
            grid-template-columns: 70px 1fr 60px 60px 20px;
            padding: 10px 0;
            gap: 5px;
          
            .product-image {
              img {
                width: 70px;
                max-width: 70px;
              }
            }
          }
          
          .product-details {
            .product-brand {
              font-size: 14px;
              font-weight: 400;
              line-height: 140%;
              color: $text-dark-full;
            }
            
            .product-brand-name {
              font-size: 16px;
              font-weight: 600;
              line-height: 120%;
              color: $separator;
              margin-bottom: 10px;
            }
            
            .product-name {
              font-size: 12px;
              font-weight: 400;
              line-height: 140%;
            }
          }
          
          .product-price {
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            margin: auto;
          }
          
          .remove-btn {
            background: none;
            border: none;
            color: wheat;
            font-size: 18px;
            cursor: pointer;
            margin: auto;
            
            &:hover {
              color: $separator;
            }
          }
        }
      }
    }
  }
}
