/* Colores */
$background-blue-light: hsla(207, 48%, 67%, 1);
$background-green: hsla(86, 54%, 51%, 1);
$background-green-light: hsla(86, 54%, 76%, 1);
$background-info: #e6eefe;
$background-white: #ffffff;
$background-default: #f2f2ff;
$background-gray-lia: #d9d9d9;
$background-purple: #6f2fd3;
$background-card: #dcdee0;
$background-chat-user: #b0b0ff;
$border-gray: #e8e8ed;
$text-dark: #030302;
$text-white: #ffffff;
$text-default: #054b85;
$text-purple: #6f2fd3;
$separator: #FB1909;
$navbar: #F6F7FC;
$footer: #1D1D1B;
$gray-separator: #9D9DA1;
$text-dark-full: #000000;
$text-dark-light: #282829;
$quantity-bottom: #E8E8ED;
$cart-actions: #C77C07;
$cart-border: #D6D6D6;

/* Breakpoints */
$mobile-small: 320px;
$mobile-medium: 375px;
$mobile-large: 425px;
$tablet: 744px;
$laptop: 1024px;
$laptop-large: 1440px;
$dispositive-big: 1920px;
