<div class="home-olimpica">
	<div class="home-olimpica__main">
		@if (showModal) {
			<t-modal (onclose)="closeModal()"></t-modal>
		}
		<div>
			<o-carousel-olimpica></o-carousel-olimpica>
		</div>
		<div>
			<app-recommended></app-recommended>
		</div>
		<div
			class="home-olimpica__main__container-image"
			(click)="openModal()"
			(keyup)="openModal()"
			tabindex="0"
		>
			<img class="home-olimpica__main__image" src="images/avatar-super-retail.svg" alt="" loading="lazy" />
		</div>
	</div>
</div>
