<div class="m-navbar">
	<div class="m-navbar__nav-desktop">
		<div class="m-navbar__nav-fast">
			<a-logo [src]="'images/categories.svg'"></a-logo>	
		Categorías
		</div>
		<div class="m-navbar__nav-fast">
			<a-logo [src]="'images/promotions.svg'"></a-logo>
		Promociones
		</div>
		<div class="m-navbar__nav-fast">
			<a-logo [src]="'images/credit-card.svg'"></a-logo>
		Tarjeta Super Retail
		</div>
		<div class="m-navbar__nav-fast">
			<a-logo [src]="'images/recipes.svg'"></a-logo>
		Recetas
		</div>
	</div>
	<div class="m-navbar__nav-link">
		Quiénes Somos
		<a-separator></a-separator>
		Puntos SR
		<a-separator></a-separator>
		Medios de Pago
	</div>
</div>
