<div class="m-navbar-olimpica">
	<div class="m-navbar-olimpica__nav-desktop">
		<a-logo [src]="'icons/olimpica/menu.svg'"></a-logo>
		<div>Categorías</div>
		<div><a-separator></a-separator></div>
		<div class="m-navbar-olimpica__flash">Super Retail</div>
		<div>
			<a-logo [src]="'icons/olimpica/shopping-basket.svg'"></a-logo>
		</div>
		Supermercado
		<div><a-separator></a-separator></div>
		<a-logo [src]="'icons/olimpica/medication.svg'"></a-logo>
		<div>Droguería</div>
		<div><a-separator></a-separator></div>
		<a-logo [src]="'icons/olimpica/kitchen.svg'"></a-logo>
		<div>Electrodomésticos</div>
		<div><a-separator></a-separator></div>
		<div class="m-navbar-olimpica__gancho visible">
			<div class="m-navbar-olimpica__gancho-img">
				<a-logo [src]="'icons/olimpica/gancho-olimpica.svg'"></a-logo>
			</div>
			Moda
		</div>
	</div>
	<div class="m-navbar-olimpica__nav-mobile">
		<a-logo [src]="'icons/olimpica/menu.svg'"></a-logo>
		<div><a-separator></a-separator></div>
		<div class="m-navbar-olimpica__flash">
			<img src="images/olimpica/logo-flash.svg" alt="" />
		</div>
		<div><a-separator></a-separator></div>
		Supermercado
	</div>
	<div class="m-navbar-olimpica__card hidden">
		<div class="m-navbar-olimpica__flex">
			Tarjeta Plata
			<a-logo [src]="'icons/olimpica/chevron-right.svg'"></a-logo>
			<div><a-separator></a-separator></div>
		</div>
		<div class="m-navbar-olimpica__flex">
			<div class="m-navbar-olimpica__credit-card">
				<a-logo [src]="'images/credit-card.svg'"></a-logo>
			</div>
			Solicitar tu tarjeta Super Retail
		</div>
	</div>
</div>
