@import 'main';
.m-navbar {
	display: none;
	grid-template-columns: 65% 35%;
	background-color: $navbar;
	color: $text-dark;
	min-height: 50px;
	align-content: center;
	align-items: center;
	height: 30px;

	&__nav-desktop {
		display: flex;
		column-gap: 0.5rem;
	}

	&__nav-link {
		display: flex;
		align-content: center;
		align-items: center;
		gap: 1rem;
		justify-content: end;
		margin-right: 15%;
	}

	&__nav-fast {
		display: flex;
		align-items: center;
    	gap: 0.9rem;
	}

	@include from($tablet) {
	}

	@include from($laptop) {
		grid-template-columns: 63% 37%;
		display: grid;

		&__nav-desktop {
			margin-left: 9%;
			align-items: center;
		}

		&__credit-card {
			margin-top: 15px;
			width: 50px;
			height: 50px;
		}

		&__gancho {
			display: grid;
			align-items: center;
			justify-items: center;
			grid-template-columns: 1fr 1fr;

			&-img {
				width: 25px;
				height: 25px;
			}
		}

		&__nav-link {
			gap: 0.5rem;
			margin-right: 10%;
		}
	}

	@include from($laptop-large) {
		grid-template-columns: 50% 50%;
		display: grid;

		&__nav-desktop {
			column-gap: 2rem;
			margin-left: 12%;
		}
	}

	@include from($dispositive-big) {
		grid-template-columns: 45% 55%;
		display: grid;

		&__nav-desktop {
			column-gap: 1.8rem;
			margin-left: 14%;
		}
	}
}
