@import 'main';
.header-olimpica {
	background-color: #FB1909;
	color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 14px 35px 14px 15px;
	align-items: center;

	&__logo {
		grid-area: logo;
		margin: auto;
	}

	&__login-text {
		display: none;
	}

	&__heart {
		display: none;
	}

	&__login {
		display: grid;
		grid-template-columns: 44% 10% 23% 23%;
		justify-items: center;
		padding: 0;
		grid-area: options;
	}

	&__search {
		grid-row: 2/3;
		grid-column: 1/3;
		margin: auto;
		width: 60%;
		grid-area: search;
	}

	@include from($laptop) {
		grid-template-columns: 25% 42% 25%;
		grid-template-rows: 1fr;
		grid-template-areas: "logo search options";
		gap: 4%;

		&__search {
			grid-column: 3/4;
			grid-row: 1/2;
			grid-area: search;
		}

		&__login-text {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		&__separator {
			margin: auto;
		}

		&__heart {
			display: block;
			justify-self: center;
		}

		&__login {
			grid-template-columns: 44% 10% 23% 23%;
			padding: 0 20%;
		}
	}
}
