<header class="header-olimpica">
	<a-logo [src]="'icons/bars.svg'" class="header-olimpica__bars"></a-logo>
	<a-logo [src]="'icons/logo-sr.svg'" class="header-olimpica__logo"></a-logo>
	<div class="header-olimpica__search">
		<a-search-text></a-search-text>
	</div>
	<div class="header-olimpica__login">
		<div class="header-olimpica__login-text header-olimpica__only-desk">
			¡Hola! Andrés
		</div>
		<div class="header-olimpica__separator header-olimpica__only-desk">
			<a-separator></a-separator>
		</div>
		<div class="header-olimpica__heart header-olimpica__only-desk">
			<a-logo [src]="'icons/notification.svg'"></a-logo>
		</div>
		<div class="header-olimpica__shopping">
			<a-logo [src]="'icons/car.svg'"></a-logo>
		</div>
	</div>
</header>
