<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="modal-overlay" (click)="handleClose()" (keydown)="handleClose()" tabindex="0"></div>

<div class="modal-content">
	<div class="modal-content__borde">
		<img class="modal-content__borde-img" src="images/header-agent.png" alt="" loading="lazy" />
	</div>
	<button class="modal-content__close" type="button" (click)="handleClose()"></button>
	<div
		[ngClass]="{
			'modal-content__chat--default': welcome,
			'modal-content__chat--top': !welcome
		}"
		class="modal-content__chat"
		#chatContainer
	>
		@if (welcome) {
			<div class="modal-content__welcome">
				<div class="modal-content__greeting">
					<p>
						<span>¡Hola! Soy SuperRetail tu asistente de compras.</span>
						Te ayudo con tus recetas y hago tu compra más rápida. ¿En qué te puedo servir hoy?
					</p>
				</div>
				<!--
				@for (question of defaultQuestion; track $index) {
					<a-custom-button
						[text]="question.prompt"
						(buttonClick)="sendDefaultQuestion(question)"
					></a-custom-button>
				}
				  -->
			</div>
		} @else {
			<div class="modal-content__chat-ia">
				<div class="modal-content__welcome second">
					<div class="modal-content__greeting">
						<p>
							<span>¡Hola! Soy SuperRetail tu asistente de compras.</span>
							Te ayudo con tus recetas y hago tu compra más rápida. ¿En qué te puedo servir hoy?
						</p>
					</div>
				</div>
				<a-card-chat [chats]="chats"></a-card-chat>
				@if (isTyping) {
					<div class="typing-indicator">
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
					</div>
				}
			</div>
		}
	</div>
	<div
		class="modal-content__question"
		[ngClass]="{ 'modal-content__question-button--disabled': isDisableInput }"
	>
	<div class="modal-content__question-custom-button">
		@for (question of defaultQuestion; track $index) {
			<a-custom-button
				[text]="question.prompt"
				[active]="selectedButtonIndex === $index"
				(buttonClick)="sendDefaultQuestion(question, $index)"
			></a-custom-button>
		}
	</div>
		<a-custom-input-text
			#inputText
			(debouncedInput)="handleDebouncedInput($event)"
			(inputChanged)="handleInputChanged($event)"
			[disableInput]="isDisableInput"
		></a-custom-input-text>
		<img
			class="modal-content__question-button"
			src="icons/icon-send.svg"
			alt=""
			(click)="sendQuestion()"
			(keydown.enter)="sendQuestion()"
			[ngClass]="{
				'modal-content__question-button--disabled': !isInputEmpty
			}"
		/>
	</div>
</div>
