@import "../../../../../assets/scss/utils/variables";
@import "../checkout.component.scss";

.checkout-step {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  
  @media (max-width: 780px) {
    max-width: 100%;
    padding: 10px;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  .checkout-content {
    display: grid;
    grid-template-columns: 1fr 350px;
    gap: 30px;
    
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .cart-summary {
      padding-bottom: 0;
    
      @media (max-width: 768px) {
        position: absolute;
        bottom: 20px;
      }
    }

    .cart-actions {
      position: absolute;
      bottom: -40px;
      right: auto;
      width: 80px;
      margin-left: 134px;

      @media (max-width: 768px) {
        bottom: -90px;
      }
    }
    
    .checkout-section {
      background-color: white;
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    
      @media (max-width: 768px) {
        margin-bottom: 420px;
      }
      
      .payment-methods {
        .payment-method {
          border: 1px solid $cart-border;
          border-radius: 16px;
          margin-bottom: 20px;
          overflow: hidden;
          /*
          .payment-option {
            padding: 0 15px;
            height: 54px;
            display: flex;
            align-items: center;
            
            input[type="radio"] {
              margin-right: 15px;
              width: 20px;
              height: 20px;
              
              &:checked {
                color: $text-default;
              }

              &:checked ~ .checkmark {
                background-color: #4CAF50;
                border-color: #4CAF50;
              }
            }
            
            .payment-label {
              display: flex;
              align-items: center;
              font-size: 16px;
              font-weight: 400;
              line-height: 120%;
              color: $payment-label;
              cursor: pointer;
              gap: 5px;
            }
          }
          */
          .payment-option {
            padding: 0 15px;
            height: 54px;
            display: flex;
            align-items: center;
            position: relative;
          }
          
          .payment-option input[type="radio"] {
            display: none; /* Oculta el radio original */
          }
          
          .payment-label {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            color: #333;
            cursor: pointer;
            gap: 10px;
            position: relative;
          }
          
          .custom-radio {
            height: 20px;
            width: 20px;
            background-color: $background-white;
            border: 2px solid $text-dark;
            border-radius: 50%;
            position: relative;
            margin: 0 10px;
            display: inline-block;
          }
          
          .payment-option input[type="radio"]:checked + .payment-label .custom-radio {
            background-color: $separator;
            border: 2px solid $separator;
          }
          
          .custom-radio::after {
            content: "";
            position: absolute;
            display: none;
          }
          
          .payment-option input[type="radio"]:checked + .payment-label .custom-radio::after {
            display: block;
          }
          
          .payment-label .custom-radio::after {
            top: 1px;
            left: 1px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: $separator;
            position: absolute;
            border: 2px solid white;
          }
          
          .payment-details {
            background-color: $background-white;
            padding: 15px;
            border-top: 1px solid $border-gray;
            width: auto;
            max-width: 550px;
            margin-left: 55px;
            box-sizing: border-box;
            
            @media (max-width: 780px) {
              width: 100%;
              max-width: 100%;
              margin-left: 0;
              box-sizing: border-box;
              padding: 10px;
            }
            
            .payment-details-text {
              font-size: 12px;
              font-weight: 400;
              line-height: 140%;
              margin-bottom: 15px;
              color: $text-dark-light;
            }
            
            .transfer-code {
              label {
                display: block;
                font-size: 14px;
                margin-bottom: 5px;
                color: $text-default;
              }
              
              .form-control {
                width: 292px;
                height: 32px;
                padding: 0 20px;
                border: 1px solid $quantity-bottom;
                border-radius: 4px;
                font-size: 14px;
                
                &:focus {
                  outline: none;
                  border-color: $separator;
                }
              }
            }
          }
        }
      }
    }
  }
}
