<div class="checkout-step">
  <div class="checkout-header">
    <div class="progress-steps">
      <div class="step completed">
        <div class="step-number">✓</div>
        <div class="step-label">Verifica la compra</div>
      </div>
      <div class="step-line step-line-1 step-active"></div>
      <div class="step-line step-line-2 step-active"></div>
      <div class="step completed">
        <div class="step-number">✓</div>
        <div class="step-label">Datos de contacto y entrega</div>
      </div>
      <div class="step-line step-line-3 step-active"></div>
      <div class="step-line step-line-4 step-active"></div>
      <div class="step active">
        <div class="step-number number-active">3</div>
        <div class="step-label">Forma de pago</div>
      </div>
    </div>
  </div>

  <div class="checkout-content">
    <h1 class="checkout-title">Mi carrito de compras</h1>
    
    <div class="checkout-section">
      <h2 class="section-title">Forma de pago</h2>
      <p class="section-description">Selecciona un método de pago</p>
      
      <div class="payment-methods">
        <div class="payment-method">
          <div class="payment-option">
            <input type="radio" id="cardPayment" name="paymentMethod" value="card" [(ngModel)]="selectedPaymentMethod">
            <label for="cardPayment" class="payment-label">
              <span class="custom-radio"></span>
              <a-logo class="empty-cart-icon" [src]="'icons/card-sr.svg'"></a-logo>
              Tarjeta Super Retail
            </label>
          </div>
        </div>
        
        <div class="payment-method">
          <div class="payment-option">
            <input type="radio" id="pointsPayment" name="paymentMethod" value="points" [(ngModel)]="selectedPaymentMethod">
            <label for="pointsPayment" class="payment-label">
              <span class="custom-radio"></span>
              <a-logo class="empty-cart-icon" [src]="'icons/points.svg'"></a-logo>
              Canjear puntos SR
            </label>
          </div>
        </div>
        
        <div class="payment-method">
          <div class="payment-option">
            <input type="radio" id="digitalAccount" name="paymentMethod" value="digitalAccount" [(ngModel)]="selectedPaymentMethod">
            <label for="digitalAccount" class="payment-label">
              <span class="custom-radio"></span>
              <a-logo class="payment-icon digital-icon" [src]="'icons/phone.svg'"></a-logo>
              Cuenta digital Super Retail
            </label>
          </div>
          
          <div class="payment-details">
            <p class="payment-details-text">
              Desde tu app haz la transferencia a nuestra cuenta bancaria y luego digita aquí el código de la transferencia. Nosotros verificamos y listo!
            </p>
            
            <div class="transfer-code">
              <label for="transferCode">Código de la tranferencia</label>
              <input type="text" id="transferCode" placeholder="Ej: SR3289911111" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Order Summary -->
    <div class="cart-summary">
      <div class="summary-header">Resumen de la compra</div>
      
      <div class="coupon-section">
        <div class="coupon-label">Ingresa un cupón de descuento</div>
        <div class="coupon-input-group">
          <input placeholder="Ej: SR3289911111" type="text" class="coupon-input">
          <button class="coupon-button">Aplicar</button>
        </div>
      </div>
      
      <div class="content-summary">
      
        <div class="price-summary">
          <div class="summary-row">
            <span>Subtotal</span>
            <span>${{ subtotal.toFixed(2) }}</span>
          </div>
          <div class="summary-row">
            <span>Descuentos</span>
            <span>- ${{ discount.toFixed(2) }}</span>
          </div>
          <div class="summary-row total">
            <span>Total</span>
            <span>${{ total.toFixed(2) }}</span>
          </div>
        </div>
        <button class="continue-btn" routerLink="/super-retail/checkout/step-4">Guardar y continuar</button>
      </div>

      <div class="cart-actions">
        <button class="empty-cart-btn" routerLink="/super-retail/checkout/step-3">
          <a-logo class="empty-cart-icon" [src]="'icons/arrow-left.svg'"></a-logo>
          Volver
        </button>
      </div>
    </div>
  </div>
</div>
