@import "../../../../assets/scss/helpers/_mixins.scss";
@import "../../../../assets/scss/utils/_variables.scss";

.recommended-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 300px;
}

.recommended-title {
  font-size: 26px;
  font-weight: 700;
  color: $text-dark;
  margin-bottom: 30px;
  line-height: 120%;
}

.recommended-items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  
  @include from($tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @include from($laptop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-item {
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  overflow: hidden;
  max-width: 293px;
  height: 160px;
  margin-left: 25px;
}

.recommended-card {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 8px;
  transition: transform 0.3s ease;
  
  &:hover {
    transform: scale(1.05);
    
    .recommended-overlay {
      opacity: 1;
    }
  }
}

.recommended-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 12px;
  transition: opacity 0.3s ease;
  background: #000000;
  opacity: 60%;
  height: 58px;
}

.recommended-label {
  color: $text-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

@include from($laptop) {

  .recommended-item {
    margin-left: 0;
  }

}