@import 'main';
.header-super-retail {
	background-color: #FB1909;
	color: white;
	display: grid;
	grid-template-columns: 8% 20% 50% 13%;
	grid-template-rows: 1fr;
	grid-template-areas: "bars logo search options";
	gap: 3%;
	align-items: center;
	height: 60px;

	&__logo {
		grid-area: logo;
	}

	&__login-text {
		display: flex;
		align-content: center;
		align-items: center;
		gap: 1rem;
	}

	&__heart {
		display: block;
		justify-self: center;
	}

	&__login {
		display: grid;
		grid-template-columns: 44% 10% 23% 23%;
		padding: 0 20%;
		justify-items: center;
		grid-area: options;
	}

	&__search {
		grid-column: 3/4;
		grid-row: 1/2;
		margin: auto;
		width: 80%;
		grid-area: search;
	}

	&__separator {
		margin: auto;
	}	

	&__bars {
		grid-area: bars;
		margin-left: 60%;
	}

	&__only-mobile {
		grid-area: bars;
		margin-left: 60%;
	}

	&__only-desk {
		display: none;
	}

	@include from($tablet) {
		&__login {
			padding: 0;
		}
	}

	@include from($laptop) {
		grid-template-columns: 25% 42% 25%;
		grid-template-areas: "logo search options";

		&__logo {
			margin-left: 25%;
		}

		&__login {
			padding: 0 5%;
		}

		&__bars {
			display: none;
		}

		&__only-desk {
			display: block;
		}
	}

	@include from($laptop-large) {
		grid-template-columns: 25% 42% 25%;
		grid-template-areas: "logo search options";
	
		&__logo {
			margin-left: 25%;
		}

		&__login {
			padding: 0 10%;
		}

		&__bars {
			display: none;
		}

		&__search {
			width: 80%;
		}

		&__only-desk {
			display: block;
		}
	}

	@include from($dispositive-big) {
		grid-template-columns: 25% 42% 25%;
		grid-template-areas: "logo search options";
		
		&__logo {
			margin-left: 25%;
		}

		&__login {
			padding: 0 20%;
		}

		&__bars {
			display: none;
		}

		&__only-desk {
			display: block;
		}

		&__search {
			width: 50%;
		}
	}

}
