<header class="header-super-retail">
	<a-logo [src]="'icons/bars.svg'" class="header-super-retail__bars"></a-logo>
	<a-logo [src]="'icons/logo-sr.svg'" class="header-super-retail__logo"></a-logo>
	<div class="header-super-retail__search">
		<a-search-text></a-search-text>
	</div>
	<div class="header-super-retail__login">
		<div class="header-super-retail__login-text header-super-retail__only-desk">
			¡Hola! Andrés
		</div>
		<div class="header-super-retail__separator header-super-retail__only-desk">
			<a-separator></a-separator>
		</div>
		<div class="header-super-retail__heart header-super-retail__only-desk">
			<a-logo [src]="'icons/notification.svg'"></a-logo>
		</div>
		<div class="header-super-retail__shopping">
			<a-logo [src]="'icons/car.svg'"></a-logo>
		</div>
	</div>
</header>
